body {
    background-color: #111;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid #ff6f00;
}

h1 {
    color: #ff6f00;
    font-size: 20px;
    margin-bottom: 20px;
}

select {
    background-color: #111;
    border: 1px solid #111;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
}

select:hover, select:focus, select:active {
    background-color: #222;
    color: #ffffff;
    outline: none;
}

option {
    background-color: #111;
    border: 1px solid #111;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 100%;
}

input[type=text] {
    background-color: #111;
    border: 1px solid #111;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 300px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=text]:focus, input[type=text]:hover, input[type=text]:active {
    background-color: #222;
    color: #ffffff;
    outline: none;

}

input[type=submit] {
    background-color: #ff6f00;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    height: 34px;
    padding: 6px 12px;
    transition: background-color ease-in-out .5s;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
    background-color: #ffad42;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
p {
    margin-top: 20px;
    height: 60px;
    font-size: 16px;
}